.sidenav {
  background-color: #6A6662;
  width: 200px;
  color: #EBECE7;
}

.sidenav li > a:active {
  font-weight: 500;
  padding-left: 14px;
  border-left: 2px solid #507985;
}

header, main, footer {
  padding-left: 200px;
}

#projects-row {
  padding-left: 18%;
}

.parallax {
  opacity: .85;
}

h2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 100px;
  color: rgb(44, 44, 44);
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

h1 {
  color: #A09791;
}

h4 {
  padding-bottom: 30px;
}

.btn-large {
  background-color: #6F7781;
}

.card {
  background-color: 36343F;
  color: white;
}

a {
  color: #7DA191;
}

p {
  line-height: 2rem;
}

.page-footer {
  color: #36343F;
}

.sidenav-trigger {
  color: whitesmoke;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

nav {
  background: #36343F;
  color: #EBECE7;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .card {
    width: 100%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}

.card {
  width: 400px;
}

@media only screen and (max-width : 1400px) {
  .card {
    width: 275px;
  }
}